<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<div ng-app="sampleChat" ng-controller="appCtrl">

    <div>
        <h1>Sample chat</h1>
    </div>
    <div>
        <div ng-repeat="m in messages">{{m.msg}}</div>
    </div>

    <input type="text" ng-model="message"/>
    <span class="btn btn-success" ng-click="sendMessage()">Send</span>
</div>


</body>
</html>